

body, html{
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'san serif';
    box-sizing: border-box;
    overflow-y: hidden;
}
*,*::before,*::after{
    box-sizing: border-box;
}
:root{
    --medium--brown : #35393F;
    --lighter-brown: #2B2D31;
    --lightest-brown: #35393F ;
    --grey-: #1d1f22;
    --dark--brown: #151619;
    --lighter--reddish: #E46643;
    --light-grey: #7C8187 ;
    --lightest-grey: #E4E4E4;
    --lightest--grey: #F5F5F5;
    --ml--: 17vw;
}
.sidebar{
    height: 100%;
    position: fixed;
    width: 17vw;
    background-color: var(--grey-);
    color: white;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}
button{
    border: none;
    border-radius: .3rem
}
.ps{
    padding-right: 10px;
}
.sidebar .wrapper-upper{
    height: 95%;
}
.sidebar h2{
    color: var(--medium--brown);
    font-size: 1rem;
    margin-bottom: 20px;
    font-weight: lighter;
}
.sidebar button{
    background-color: var(--lighter--reddish);
    padding: 10px 35px;
    color: #FFF;
    cursor: pointer;
    width: 100%;
}
.wrapper-lower{
    width: 100%;
    display: flex;
}
input#check{
    display: none;
}
label[for='check']{
    padding: 5px 25px;
    position: relative;
    background-color: var(--light-grey);
    border-radius: 7rem;
    margin: 0 10px;
    cursor: pointer;
    height:20px;
}
label[for='check'] span{
    position: absolute;
    content: '';
    border-radius: 50%;
    width: 20px;
    left: 0;
    top: 0;
    background-color: #FFF;
    height: 100%;
}
#check:checked ~ label[for='check'] span{
    left: calc(100% - 15px);
}
#dark, #white{
    fill: #5A6069;
}
#check:not(:checked) ~ #dark{
    fill: white ;
}
#check:checked ~ #white{
    fill: white ;
}
header{
    margin-left: var(--ml--);
    background-color: var(--lighter-brown);
    height: 60px;
}
header nav{
    height: 100%;
    display: flex;
}
nav .menu{
    padding: 10px 20px;
    display: flex;
    height: 100%;
    align-items: center;
    background-color: var(--lightest-brown);
    width: fit-content;
    cursor: pointer;
}
.logo{
    padding: 0 20px;
    border-right: 2px solid var(--lightest-brown);
    height: 80%;
    align-self: center;
    display: flex;
    align-items: center;
}
.d-none{
    display: none;
}
.container-nav{
    padding: 0 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.container-nav button{
    background-color: var(--lighter--reddish);
    padding: 10px 15px;
    color: #FFF;
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
}
#delete-btn{
    padding-right: 20px;
}
main{
    margin-left: var(--ml--);
    display: flex;
    height: calc(100vh - 60px);
    background-color: var(--lightest-grey);
}
.markdown{
    flex-basis: 50%;
    background-color: var(--lightest--grey);
}
.markdown:first-of-type{
    margin-right: .5px;
}
.text-markdown{
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
}
.preview--1{
    cursor: pointer;
}
.content{
    background-color: white;
    height: calc(100vh - 100px);
}
textarea{
    height: 100%;
    width: 100%;
    border: none;
    padding: 20px;
    line-height: 1.3rem;
    resize: none;

}
#preview{
    padding: 20px;
    overflow-y: scroll;
    font-family: 'Roboto';
    font-weight: 300;
    line-height: 1.5rem;
}
.bullet{
    position: relative;
}
.bullet::before{
    position: absolute;
    left: 0;
    content: '';
    height: 5px;
    width: 5px;
    border-radius: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #E46643;
}
textarea:focus{
    border: none;
    outline: none;
    resize: none;
}
blockquote{
    background-color: var(--lightest-grey);
    border-left: 5px solid #E46643;
    padding: 20px;
}

@media screen and (min-width:1800px){
    .sidebar{
        width: 12vw;
    }
    header{
        margin-left: 12vw;
    }
    main{
        margin-left: 12vw;
    }
}
@media screen and (max-width:600px) {
    body{
        overflow-x: hidden;
    }
    .sidebar{
        width: 55%;
    }
    main,header{
        margin-left: 55%;
    }
    main{
        overflow-x: hidden;
        display: grid;
    }
    .markdown{
        width: 100%;
    }
    .ps{
        padding-right: unset;
    }
}